@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
    --primary-color: #185ee0;
    --secondary-color: #e6eef9;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.filter-region {
    top: 110px;
    position: fixed;
    width: 100%;
    height: 100px;
    max-width: calc(45rem + 6vmin);
    margin: auto;
    padding: 2.5rem;
    background: #fff;
    z-index: 1000;
    border-radius: 30px;
    border: 0px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    /*left: 50%;*/
    right: 20px;
    /*transform: translateX(-50%);*/
}

.tabs {
    width: 244px;
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding: 0.75rem;
    border-radius: 99px;
    height: 54px;
    position: absolute;
    /*right: 20px;*/
    top: 20px;

}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 180px;
    font-size: 1.05rem;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
    position: relative; /* Add this line */
    z-index: 2; /* Add this line */
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    color: #004D95;
}

input[id="radio-movie"]:checked ~ .glider {
    transform: translateX(0);
}

input[id="radio-tv"]:checked ~ .glider {
    transform: translateX(100%);
}

.glider {
    position: absolute;
    display: flex;
    height: 33px;
    width: 110px;
    background-color: var(--secondary-color);
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
}

@media (max-width: 700px) {
    .tabs {
        transform: scale(0.6);
    }
}
.categories button.selected {
    background-color: #007bff;
    color: #fff;
}

.categorySelect {
    position: absolute;
    top: 21px;
    left: 300px;
}
