/* Header Styles */
.app-header {
    background-color: #002848;
    color: white;
    text-align: left;
    padding: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 4;
    min-height: 80px;
}

/* Remove underline from links */
.logo-inner,
.dropdown-header-content a {
    text-decoration: none;
    color: white;
}

.logo-inner {
    padding: 5px 10px;
    font-family: 'Montserrat Light Alt1', sans-serif;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Common dropdown styles */
.dropdown-header {
    position: relative;
    display: inline-block;
    margin-right: 20px; /* Adjust the spacing between dropdowns */
}

.dropbtn-header {
    background-color: transparent;
    color: #fff;
    padding: 16px;
    font-size: 1.25em;
    border: none;
    cursor: pointer;
}

.dropbtn-header:hover,
.dropbtn-header:focus {
    color: #004D95;
}

.dropdown-header-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
    top: 100%; /* Position the dropdown below the button */
    left: 0; /* Align the dropdown with the button */
}

.dropdown-header-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-header-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown-header:hover .dropdown-header-content {
    display: block;
}

/* Home link styles */
.home {
    background-color: transparent;
    color: #fff;
    padding: 16px;
    font-size: 1.25em;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

/* Adjust the spacing and alignment for smaller screens */
@media screen and (max-width: 768px) {
    .dropdown-header {
        display: block;
        margin-right: 0; /* Remove spacing between dropdowns */
        margin-bottom: 10px; /* Add margin between dropdowns */
    }

    .dropdown-header-content {
        left: 0; /* Align the dropdown with the button */
    }
}
