/* ModalMessage.css */
.modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal__backdrop.open {
    display: flex; /* Show the modal when it's open */
}

.modal__container {
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 600px; /* Adjust the width as needed */
    width: 100%;
    text-align: center;
    position: relative;
    top: 50%; /* Move the container down by 50% of its height */
    left: 50%; /* Move the container horizontally by 50% of its width */
    transform: translate(-50%, -50%); /* Center both horizontally and vertically */
}

.modal__container button[type="button"] {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333; /* Close button color */
}

/* Success message styles */
.modal__container.success {
    background-color: #4CAF50; /* Green background for success message */
    color: #fff; /* White text color for success message */
}

/* Error message styles */
.modal__container.error {
    background-color: #FF5733; /* Red background for error message */
    color: #fff; /* White text color for error message */
}

.placeholder {
    height: 20px;
    margin: 10px 0;
    background-color: #eee; /* Placeholder background color */
}

.placeholder.medium {
    width: 70%;
    margin: 10px auto;
}
