/* TVShowDetails.css */

/* TV Show Details Container */
.tv-show-details {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
    width: 80%;
    margin: 0 auto;
}

/* TV Show Title */
.tv-show-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

/* First Air Date */
.first-air-date {
    font-size: 16px;
    color: #888;
    margin-top: 5px;
}

/* Genre */
.genre {
    font-size: 16px;
    margin-top: 10px;
}

/* Episode Runtime */
.episode-runtime {
    font-size: 16px;
    margin-top: 10px;
}

/* Trailer Button */
.trailer {
    margin-top: 20px;
}

/* Poster/Artwork */
.poster {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* User Ratings */
.user-ratings {
    font-size: 16px;
    margin-top: 20px;
}

/* Reviews */
.reviews {
    font-size: 16px;
    margin-top: 20px;
}

/* Recommendations */
.recommendations {
    margin-top: 20px;
}

/* Awards and Nominations */
.awards {
    font-size: 16px;
    margin-top: 20px;
}

/* Box Office Information */
.box-office {
    font-size: 16px;
    margin-top: 20px;
}

/* Trailer Modal Styles */
.trailer-modal-content {
    position: relative;
    background-color: #000;
    border-radius: 5px;
    width: auto;
    max-width: 80%; /* Adjust the maximum width as needed */
    max-height: 80vh; /* Limit the maximum height to 80% of the viewport height */
    margin: 0 auto;
    padding: 0;
}

.trailer-modal-overlay {
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    outline: none;
}

/* Ensure the trailer video container has a fixed aspect ratio */
.trailer-video-container {
    position: relative;
    padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100%) */
    max-width: 100%; /* Allow the container to expand to the modal's full width */
    max-height: 100%; /* Allow the container to expand to the modal's full height */
}

/* Style the ReactPlayer to take the full size of its container */
.react-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
